body{
    background-color: #fff9c4 ;
    h1{
        font-family: cursive;
        color: #FFCC33;
        text-align: center;
    }
    .titulo{
        font-family: cursive;
        font-size: 100px;
        text-align: center;
        color: orange;
    }
}
nav{
    background-color: #FFCC33;
}
img{
    width: 85px;
    height: 85px;
}
.bandera{
    width: 1000px;
    height: 10px;
}
.nav-link{
    color: black;
    font-size:19px ;   
}
.nav-link:hover{
    color:floralwhite;
    transition: 0.4s;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}  


footer {
    background-color: #FFCC33;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
  

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
  
footer ul li {
    margin-right: 30px; 
}
  
footer img {
    height: 70px;
    width: 70px; 
    margin-left: 80px; 
}
  
.link {
    color: #fafdfd;
}
  
.link:hover {
    color: #ffe082;
}